<% include partials/header %>
  <link rel="stylesheet" href="/stylesheets/home.css">

  <div class="jumbotron jumbotron-fluid text-center">
    <h3>Your current patients</h3>
    <a class="btn btn-primary mt-2" href="/patients/new">Add new patient</a>
  </div>
  <div class="container">

  </div>

<% include partials/scripts %>
<% include partials/footer %>
