<% include partials/header %>
  <link rel="stylesheet" href="/stylesheets/home.css">

  <div class="jumbotron jumbotron-fluid text-center">
    <h3>Shows your friends are watching</h3>
    <a class="btn btn-primary mt-2" href="/shows/new">Recommend a show!</a>
  </div>
  <div class="container">

  </div>

<% include partials/scripts %>
<% include partials/footer %>
