<% include partials/header %>
  <link rel="stylesheet" href="/stylesheets/home.css">

  <div class="jumbotron jumbotron-fluid text-center">
    <h3>Your current patients</h3>
    <a class="btn btn-primary mt-2" href="/patients/new">Add new patient</a>
  </div>
  <%# Row 1 %>
  <div class="container content patient-grid">
    <div class="card-deck mb-4">
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
    </div>
    <%# Row 2 %>
    <div class="card-deck mb-4">
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="Patient's Photo">
        <div class="card-body">
          <h5 class="card-title">Patient's Name</h5>
          <p class="card-text">Patient's Diagnosis</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last checkup:</small>
        </div>
      </div>
    </div>
  </div>

<% include partials/scripts %>
<% include partials/footer %>
