<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>YelpFlix</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,700">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>

<body>
  <div class="container text-center">
    <h1>Welcome to YelpFlix!</h1>
    <div class="">
      <a class="btn btn-primary btn-lg mt-3" href="/home">View All Shows</a>
      <a class="btn btn-primary btn-lg mt-3" href="/home">Sign Up / Login</a>
    </div>
  </div>
</body>
</html>
