<% include partials/header %>
  <div class="container content">
    <div class="text-center">
      <h1>Login</h1>
      <p>New to Wardcher? <a href="/register">Register here!</a></p>
    </div>
    <form class="mx-auto col-12 col-md-8 col-lg-6" action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <button class="btn btn-primary btn-block my-4" type="button">Login</button>
    </form>
  </div>

<% include partials/scripts %>
<% include partials/footer %>
