<% include ../partials/header %>
  <div class="container content">
    <div class="text-center">
      <h1>New Patient</h1>
    </div>
    <form class="mx-auto mt-4 col-12 col-md-8 col-lg-6" action="/patients" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Patient's name">
      </div>
      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="url" class="form-control" name="photo" placeholder="Patient's photo">
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="gender">Age</label>
            <input type="number" class="form-control" name="age" placeholder="Patient's age">
          </div>
          <div class="col">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender">
              <option selected disabled>Select gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ward">Ward</label>
        <input type="text" class="form-control" name="ward" placeholder="Ward name">
      </div>
      <div class="form-group">
        <label for="diagnosis">Diagnosis</label>
        <textarea type="text" class="form-control" name="diagnosis" rows="3" placeholder="Enter diagnosis here"></textarea>
      </div>
      <button class="btn btn-primary btn-block my-4" type="submit">Submit</button>
    </form>
  </div>
  
<% include ../partials/scripts %>
<% include ../partials/footer %>
