body {
  padding-top: 74px;
  font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

nav .navbar-brand {
  font-size: 2rem;
}

nav a {
  color: #FFFFFF !important;
}

nav .navbar-nav a:hover {
  color: #EF5350 !important;
}

textarea {
  resize: none;
}

.content {
  padding-top: 30px;
}

.content .form-control {
  border: 1px solid #EF5350 !important;
}

.content p a:hover {
  color: #EF5350 !important
}

.patient-grid {
  padding: 20px 0;
}

.card-img-top {
  padding: 20px 20px 0 20px;
}

.card .card-header, .card h5, .card small {
  font-weight: 700;
}
